
<div class="form-step active" data-step="1">
  <!-- Step 1 Content -->

  <p class="step">{% block steps %} Step 1: Goals {% endblock %}</p>
  <h1>{% block headline %} Clarity of goals is the first step toward success. You can’t improve what you don’t define. {% endblock %}

  </h1>
  <p class="sub">
    {% block subHeadline %} <em>Knowing where you’re going helps you make better decisions today.</em> But it’s more than just setting targets; it’s about understanding yourself, your current path, and what you truly want to achieve. {% endblock %}
  </p>
  <p class="desc">
    {% block headlineDescription %} This section helps you reflect on where you are now and where you want to be. There are no wrong answers, only insights that can guide you toward growth. Your dreams matter, and this is a chance to define them clearly so your journey can be more focused, intentional, and fulfilling. {% endblock %}
  </p>

  <h2>Questions</h2>

  <div class="form-details">
    <div class="input-row">
      <div class="input-group">
        <label>What’s your preferred name?</label>
        <input type="text" name="preferredName" placeholder="Enter your nickname" required />
      </div>
      <div class="input-group">
        <label>What’s your current level of study?</label>
        <select name="level_of_study" required>
          <option value="" disabled selected hidden>SELECT</option>
          <option value="100L">100 Level</option>
          <option value="200L">200 Level</option>
          <option value="300L">300 Level</option>
          <option value="400L">400 Level</option>
          <option value="500L">500 Level</option>
        </select>
      </div>
    </div>

    <div class="input-row">
      <div class="input-group">
        <label>What’s the name of your institution?</label>
        <input type="text" name="name_of_institution" placeholder="Enter Institution name" required />
      </div>
      <div class="input-group">
        <label>What’s your major or field of study?</label>
        <input type="text" name="field_of_study" placeholder="Enter your major (e.g. Engineering)" required />
      </div>
    </div>

    <div class="input-full">
      <label>What’s your top academic goal for this semester?</label>
      <textarea name="Top_academic_goal_this_semester" placeholder="e.g., Earn a 5.0 GPA, pass all courses..." required></textarea>
    </div>

    <!-- Progress Dots -->
    <div class="dots">
      <span class="dot" data-step="1"></span>
      <span class="dot" data-step="2"></span>
      <span class="dot" data-step="3"></span>
      <span class="dot" data-step="4"></span>
    </div>    
  </div>

</div> <!-- Close form-step -->
